@using Bm2sBO.Utils;

<aside id="LeftMenuBar" class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      @if (UserUtils.CanViewDashboard)
      {
        <li class="treeview@(MenuUtils.Section == "Dashboard" ? " active" : "")">
          <a href="#">
            <i class="fa fa-tachometer text-green"></i> <span>@Html.TranslationLabelFor("menu", "dashboard", "Dashboard")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="@(MenuUtils.Page == "Dashboard" ? "active" : "")"><a href="/Dashboard/Dashboard">@Html.TranslationLabelFor("menu", "dashboard", "Dashboard")</a></li>
          </ul>
        </li>}
      @if (UserUtils.CanListArticles || UserUtils.CanListFamilies || UserUtils.CanListSubFamilies || UserUtils.CanListBrands || UserUtils.CanListNomenclatures || UserUtils.CanListPrices || UserUtils.CanListSubscriptions)
      {
        <li class="treeview@(MenuUtils.Section == "Articles" ? " active" : "")">
          <a href="#">
            <i class="fa fa-product-hunt text-purple"></i> <span>@Html.TranslationLabelFor("menu", "articles", "Articles")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="@(MenuUtils.Page == "Resume" ? "active" : "")"><a href="/Articles/Resume">@Html.TranslationLabelFor("menu", "resume", "Resume")</a></li>
            @if (UserUtils.CanListArticles)
            {
              <li class="@(MenuUtils.Page == "Articles" ? "active" : "")"><a href="/Articles/Articles">@Html.TranslationLabelFor("menu", "articles", "Articles")</a></li>}
            @if (UserUtils.CanListFamilies)
            {
              <li class="@(MenuUtils.Page == "Families" ? "active" : "")"><a href="/Articles/Families">@Html.TranslationLabelFor("menu", "families", "Families")</a></li>}
            @if (UserUtils.CanListSubFamilies)
            {
              <li class="@(MenuUtils.Page == "SubFamilies" ? "active" : "")"><a href="/Articles/SubFamilies">@Html.TranslationLabelFor("menu", "subfamilies", "SubFamilies")</a></li>}
            @if (UserUtils.CanListBrands)
            {
              <li class="@(MenuUtils.Page == "Brands" ? "active" : "")"><a href="/Articles/Brands">@Html.TranslationLabelFor("menu", "brands", "Brands")</a></li>}
            @if (false && UserUtils.CanListNomenclatures)
            {
              <li class="@(MenuUtils.Page == "Nomenclature" ? "active" : "")"><a href="/Articles/Nomenclatures">@Html.TranslationLabelFor("menu", "nomenclatures", "Nomenclatures")</a></li>}
            @if (UserUtils.CanListPrices)
            {
              <li class="@(MenuUtils.Page == "Prices" ? "active" : "")"><a href="/Articles/Prices">@Html.TranslationLabelFor("menu", "prices", "Prices")</a></li>}
            @if (false && UserUtils.CanListSubscriptions)
            {
              <li class="@(MenuUtils.Page == "Subscriptions" ? "active" : "")"><a href="/Articles/Subscriptions">@Html.TranslationLabelFor("menu", "subscriptions", "Subscriptions")</a></li>}
          </ul>
        </li>}
      @if (UserUtils.CanListPartners)
      {
        <li class="treeview@(MenuUtils.Section == "Partners" ? " active" : "")">
          <a href="#">
            <i class="fa fa-user-secret text-light-blue"></i> <span>@Html.TranslationLabelFor("menu", "partners", "Partners")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="@(MenuUtils.Page == "Partners" ? "active" : "")"><a href="/Partners/Partners">@Html.TranslationLabelFor("menu", "partners", "Partners")</a></li>
          </ul>
        </li>}
      @if (UserUtils.CanListSales || UserUtils.CanListPurchases)
      {
        <li class="treeview@(MenuUtils.Section == "Trades" ? " active" : "")">
          <a href="#">
            <i class="fa fa-money text-gold"></i> <span>@Html.TranslationLabelFor("menu", "trades", "Trades")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            @if (UserUtils.CanListSales)
            {
              <li class="@(MenuUtils.Page == "Sales" ? "active" : "")"><a href="/Trades/Sales">@Html.TranslationLabelFor("menu", "sales", "Sales")</a></li>}
            @if (UserUtils.CanListPurchases)
            {
              <li class="@(MenuUtils.Page == "Purchases" ? "active" : "")"><a href="/Trades/Purchases">@Html.TranslationLabelFor("menu", "purchases", "Purchases")</a></li>}
          </ul>
        </li>}
      @if (UserUtils.CanListGroups || UserUtils.CanListUsers || UserUtils.CanListModules)
      {
        <li class="treeview@(MenuUtils.Section == "Users" ? " active" : "")">
          <a href="#">
            <i class="fa fa-users text-blue"></i> <span>@Html.TranslationLabelFor("menu", "users", "Users")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            @if (UserUtils.CanListGroups)
            {
              <li class="@(MenuUtils.Page == "Groups" ? "active" : "")"><a href="/Users/Groups">@Html.TranslationLabelFor("menu", "groups", "Groups")</a></li>}
            @if (UserUtils.CanListUsers)
            {
              <li class="@(MenuUtils.Page == "Users" ? "active" : "")"><a href="/Users/Users">@Html.TranslationLabelFor("menu", "users", "Users")</a></li>}
            @if (UserUtils.CanListModules)
            {
              <li class="@(MenuUtils.Page == "Modules" ? "active" : "")"><a href="/Users/Modules">@Html.TranslationLabelFor("menu", "modules", "Modules")</a></li>}
          </ul>
        </li>}
      @if (UserUtils.CanListParameters || UserUtils.CanListTranslations)
      {
        <li class="treeview@(MenuUtils.Section == "Parameters" ? " active" : "")">
          <a href="#">
            <i class="fa fa-cogs text-yellow"></i> <span>@Html.TranslationLabelFor("menu", "parameters", "Parameters")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            @if (UserUtils.CanListParameters)
            {
              <li class="@(MenuUtils.Page == "Parameters" ? "active" : "")"><a href="/Parameters/Parameters">@Html.TranslationLabelFor("menu", "parameters", "Parameters")</a></li>}
            @if (UserUtils.CanListTranslations)
            {
              <li class="@(MenuUtils.Page == "Translations" ? "active" : "")"><a href="/Parameters/Translations">@Html.TranslationLabelFor("menu", "translations", "Translations")</a></li>}
          </ul>
        </li>}
      @if (UserUtils.CurrentUser.IsAdministrator)
      {
        <li class="treeview@(MenuUtils.Section == "Administration" ? " active" : "")">
          <a href="#">
            <i class="fa fa-exclamation-triangle text-red"></i> <span>@Html.TranslationLabelFor("menu", "administration", "Administration")</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li class="@(MenuUtils.Page == "Initialization" ? "active" : "")"><a href="/Administration/Initialization">@Html.TranslationLabelFor("menu", "initialization", "Initialization")</a></li>
          </ul>
        </li>}
    </ul>
  </section>
</aside>
