@using Bm2sBO.Utils;
@using System.Globalization;

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favorite Icon -->
  <link rel="icon" type="image/png" href="~/Pictures/icon.png" />

  <!-- iOs Icons -->
  <link rel="apple-touch-icon" href="~/Pictures/iOs/icon114.png" />
  <link rel="apple-touch-icon" sizes="57×57" href="~/Pictures/iOs/icon57.png" />
  <link rel="apple-touch-icon" sizes="72×72" href="~/Pictures/iOs/icon72.png" />
  <link rel="apple-touch-icon" sizes="114×114" href="~/Pictures/iOs/icon114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="~/Pictures/iOs/icon144.png" />

  <title>Bm2s - @ViewBag.Title</title>
  @Styles.Render("~/Content/csslib")
  @Styles.Render("~/Content/cssbm2s")

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/adminlte")
  @Scripts.Render("~/bundles/angular")
  @Scripts.Render("~/bundles/chart")
  @Scripts.Render("~/bundles/app")
  @Scripts.Render("~/bundles/controllers")
  @Scripts.Render("~/bundles/directives")
  @Scripts.Render("~/bundles/filters")
  @Scripts.Render("~/bundles/configurations")
  @RenderSection("scripts", required: false)
</head>
<body data-ng-app="bm2s" class="hold-transition skin-blue fixed sidebar-mini">
  <div class="wrapper">

    <!-- Top Bar -->
    <div data-ng-controller="Login">
      <header id="TopBar" class="main-header">
        <a href="/" class="logo">
          <span class="logo-mini">
            <i class="fa fa-line-chart"></i>
          </span>
          <span class="logo-lg">
            Bm2s
          </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">@Html.TranslationLabelFor("homepage", "togglenavigation", "Toggle navigation")</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span>@UserUtils.CurrentUser.FirstName @UserUtils.CurrentUser.LastName</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <p>
                      @UserUtils.CurrentUser.FirstName @UserUtils.CurrentUser.LastName
                      <small>@Html.TranslationLabelFor("homepage", "membersince", "Member since") @UserUtils.CurrentUser.StartingDate.ToString("MMMM yyyy", new CultureInfo(UserUtils.CurrentUser.DefaultLanguage.Code))</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-6 text-center">
                      <a href="#">@Html.TranslationLabelFor("homepage", "sales", "Sales")</a>
                    </div>
                    <div class="col-xs-6 text-center">
                      <a href="#">@Html.TranslationLabelFor("homepage", "preferences", "Preferences")</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">@Html.TranslationLabelFor("homepage", "profile", "Profile")</a>
                    </div>
                    <div class="pull-right">
                      @if (UserUtils.CurrentUser.IsAnonymous)
                      {
                        <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modalLogin">
                          <i class="fa fa-sign-in"></i>@Html.TranslationLabelFor("homepage", "signin", "Sign in")
                        </button>}
                      else
                      {
                        <button type="button" class="btn btn-default btn-flat" data-ng-click="closeSession()">
                          <i class="fa fa-sign-out"></i>@Html.TranslationLabelFor("homepage", "signout", "Sign out")
                        </button>}
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      @{ Html.RenderAction("Index", "Login", new { area = string.Empty }); }
    </div>

    <!-- Left Menu Bar -->
    @{ Html.RenderAction("Index", "LeftMenu", new { area = string.Empty }); }

    <!-- Body -->
    <div id="Body" class="content-wrapper">
      @RenderBody()
    </div>

    <!-- User preferences -->
    @*@{ Html.RenderAction("Index", "Preferences", new { area = string.Empty }); }*@
  </div>
</body>
</html>
