@using Bm2sBO.Utils;
@{
  ViewBag.Title = @Html.TranslationFor("listgroups", "title", "Groups");
}
<div data-ng-controller="GroupList">
  <datatable data-always-show-first-last-buttons="AlwaysShowFirstLastButtons" data-available-pages-size="AvailablePagesSize" data-can-create="CanCreate" data-can-delete="CanDelete" data-can-edit="CanEdit" data-columns-header="ColumnsHeader" data-current-page="CurrentPage" data-entries-text="EntriesText" data-interval="Interval" data-large-step="LargeStep" data-loading="Loading" data-of-text="OfText" data-on-add-item="add()" data-on-delete-item="delete(line)" data-on-edit-item="edit(line)" data-order-column="OrderColumn" data-order-reverse="OrderReverse" data-page-size="PageSize" data-search-text="SearchText" data-showing-text="ShowingText" data-show-text="ShowText" data-small-step="SmallStep" data-source="DataSource" data-title="Title" data-to-text="ToText"></datatable>
  <div id="modalEditionGroup" class="modal fade" tabindex="-1" role="dialog">
    <form data-ng-submit="saveValues(Edition)">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-ng-click="dismissValues()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{Title}}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group col-xs-12">
                <label class="control-label text-right">@Html.TranslationFor("listgroups", "code", "Code")</label>
                <input name="editionCode" type="text" class="form-control" data-ng-model="Edition.Code" data-ng-required="true" tabindex="0" />
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label text-right">@Html.TranslationFor("listgroups", "name", "Name")</label>
                <input name="editionName" type="text" class="form-control" data-ng-model="Edition.Name" data-ng-required="true" tabindex="0" />
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label text-right">@Html.TranslationFor("listgroups", "date", "Date")</label>
                <input name="editionDate" type="date" class="form-control datepicker" data-ng-model="Edition.StartingDate" data-ng-required="true" tabindex="0" />
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label text-right">@Html.TranslationFor("listgroups", "users", "Users")</label>
                <selection data-always-show-first-last-buttons="AlwaysShowFirstLastButtons" data-available-pages-size="AvailablePagesSizeUser" data-columns-header="ColumnsHeaderUser" data-current-page="CurrentPage" data-current-selection="CurrentSelectionUser" data-entries-text="EntriesText" data-interval="Interval" data-large-step="LargeStep" data-loading="LoadingUser" data-of-text="OfText" data-page-size="PageSizeUser" data-search-text="SearchText" data-selection-mode="SelectionModeUser" data-showing-text="ShowingText" data-show-text="ShowText" data-small-step="SmallStep" data-source="DataSourceUser" data-to-text="ToText" data-tri-state="TriStateUser" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="form-group pull-right">
              <div class="input-group">
                <button class="btn btn-default" data-ng-click="saveValues(Edition)" data-dismiss="modal" tabindex="0">
                  <i class="fa fa-check"></i>
                </button>
              </div>
            </div>
            <div class="form-group pull-left">
              <button class="btn btn-default" data-ng-click="dismissValues()" data-dismiss="modal" tabindex="0">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var columnsHeaderGroup = [];
  columnsHeaderGroup.push({"Key": 'Code', "Value": "@Html.TranslationFor("listgroups", "code", "Code")", "Type" : "Text"});
  columnsHeaderGroup.push({"Key": 'Name', "Value": "@Html.TranslationFor("listgroups", "name", "Name")", "Type" : "Text"});
  columnsHeaderGroup.push({"Key": 'StartingDate', "Value": "@Html.TranslationFor("listgroups", "date", "Date")", "Type" : "Date"});

  var columnsHeaderUser = [];
  columnsHeaderUser.push({ "Key": 'FirstName', "Value": "@Html.TranslationFor("listusers", "firstname", "First name")", "Type": "Text" });
  columnsHeaderUser.push({ "Key": 'LastName', "Value": "@Html.TranslationFor("listusers", "lastname", "Last name")", "Type": "Text" });

  var titleGroup = '@ViewBag.Title';
  var showText = '@Html.TranslationFor("list", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("list", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("list", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("list", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("list", "totext", "to")';
  var ofText = '@Html.TranslationFor("list", "oftext", "of")';

  var canCreate = @UserUtils.CanCreateGroups.ToString().ToLower();
  var canDelete = @UserUtils.CanDeleteGroups.ToString().ToLower();
  var canEdit = @UserUtils.CanEditGroups.ToString().ToLower();
</script>
