@model Bm2sBO.Areas.Articles.Models.SubFamiliesModel
@using Bm2sBO.Utils;
@{
  ViewBag.Title = @Html.TranslationFor("listsubfamilies", "title", "Article subfamilies");
}

<div data-ng-controller="SubFamily">
  <datatable />
  <div id="modalEditionSubFamily" class="modal fade" tabindex="-1" role="dialog">
    <form data-ng-submit="saveValues(Edition)">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-ng-click="dismissValues()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{Title}}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "code", "Code")</label>
                <div class="col-xs-9">
                  <input name="editionCode" type="text" class="form-control" data-ng-model="Edition.Code" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "designation", "Designation")</label>
                <div class="col-xs-9">
                  <input name="editionDesignation" type="text" class="form-control" data-ng-model="Edition.Designation" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "description", "Description")</label>
                <div class="col-xs-9">
                  <input name="editionDescription" type="text" class="form-control" data-ng-model="Edition.Description" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "date", "Date")</label>
                <div class="col-xs-9">
                  <input name="editionDate" type="date" class="form-control datepicker" data-ng-model="Edition.StartingDate" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "family", "Family")</label>
                <div class="col-xs-9">
                  <select name="editionFamily" type="text" class="form-control" data-ng-model="Edition.ArticleFamily.Id" tabindex="0" data-ng-options="item.Id as item.Label for item in SelectListFamilies.ArticleFamilies"></select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listsubfamilies", "accountingentry", "Accounting Entry")</label>
                <div class="col-xs-9">
                  <input name="editionAccountingEntry" type="text" class="form-control" data-ng-model="Edition.AccountingEntry" data-ng-required="true" tabindex="0" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="form-group pull-right">
              <div class="input-group">
                <button class="btn btn-default" data-ng-click="saveValues(Edition)" data-dismiss="modal" tabindex="0">
                  <i class="fa fa-check"></i>
                </button>
              </div>
            </div>
            <div class="form-group pull-left">
              <button class="btn btn-default" data-ng-click="dismissValues()" data-dismiss="modal" tabindex="0">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var dataSourceSubFamily = @Model.ArticleSubFamily.Response.ToHtmlJson();

  var columnsHeaderSubFamily = [];
  columnsHeaderSubFamily.push({"Key": 'Code', "Value": "@Html.TranslationFor("listsubfamilies", "code", "Code")", "Type" : "Text"});
  columnsHeaderSubFamily.push({"Key": 'Designation', "Value": "@Html.TranslationFor("listsubfamilies", "designation", "Designation")", "Type" : "Text"});
  columnsHeaderSubFamily.push({"Key": 'Description', "Value": "@Html.TranslationFor("listsubfamilies", "description", "Description")", "Type" : "Text"});
  columnsHeaderSubFamily.push({"Key": 'StartingDate', "Value": "@Html.TranslationFor("listsubfamilies", "date", "Date")", "Type" : "Date"});
  columnsHeaderSubFamily.push({"Key": 'ArticleFamily.Designation', "Value": "@Html.TranslationFor("listsubfamilies", "family", "Family")", "Type" : "Text"});
  columnsHeaderSubFamily.push({"Key": 'AccountingEntry', "Value": "@Html.TranslationFor("listsubfamilies", "accountingentry", "Accounting Entry")", "Type" : "Text"});

  var selectListFamilies = @SelectListUtils.SelectListFamily;

  var titleSubFamily = '@ViewBag.Title';
  var showText = '@Html.TranslationFor("list", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("list", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("list", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("list", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("list", "totext", "to")';
  var ofText = '@Html.TranslationFor("list", "oftext", "of")';

  var canCreate = @UserUtils.CanCreateFamilies.ToString().ToLower();
  var canDelete = @UserUtils.CanDeleteFamilies.ToString().ToLower();
  var canEdit = @UserUtils.CanEditFamilies.ToString().ToLower();
</script>