@model Bm2sBO.Areas.Parameters.Models.TranslationsModel

@using Bm2sBO.Utils;

@{
  ViewBag.Title = Html.TranslationFor("listtranslations", "title", "Translations");
  ViewBag.Page = "Translations";
  ViewBag.Section = "Parameters";
}

<div data-ng-controller="Translation">
  <section class="content">
    <datatable />
  </section>
  <edition />
</div>

<script type="text/javascript">
  var languages = @Model.Language.Response.ToHtmlJson();

  var columnsHeader = [];
  columnsHeader.push({"Key": 'screen', "Value": "@Html.TranslationFor("listtranslations", "screen", "Screen")", "Editable": false, "Type": '', "Required": false});
  columnsHeader.push({"Key": 'key', "Value": "@Html.TranslationFor("listtranslations", "key", "Key")", "Editable": false, "Type": '', "Required": false});

  var title = '@ViewBag.Title';
  var showText = '@Html.TranslationFor("list", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("list", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("list", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("list", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("list", "totext", "to")';
  var ofText = '@Html.TranslationFor("list", "oftext", "of")';

  var canEdit = @UserUtils.CanEditTranslations.ToString().ToLower();
</script>
