@model Bm2sBO.Areas.Parameters.Models.TranslationsModel

@using Bm2sBO.Utils;

@{
  ViewBag.Title = "Translations";
}

<section class="content" data-ng-controller="Translation">
  <datatable />
</section>

<script type="text/javascript">
  var languages = @Model.Language.Response.ToHtmlJson();

  var columnsHeader = [];
  columnsHeader.push({"Key": 'screen', "Value": "@Html.TranslationFor("listtranslations", "screen", "Screen")", "Editable": false, "Type": '', "Required": false});
  columnsHeader.push({"Key": 'key', "Value": "@Html.TranslationFor("listtranslations", "key", "Key")", "Editable": false, "Type": '', "Required": false});

  var title = '@Html.TranslationFor("listtranslations", "title", "Translations")';
  var showText = '@Html.TranslationFor("listtranslations", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("listtranslations", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("listtranslations", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("listtranslations", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("listtranslations", "totext", "to")';
  var ofText = '@Html.TranslationFor("listtranslations", "oftext", "of")';

  var canEdit = @UserUtils.CanEditTranslations.ToString().ToLower();
</script>
