﻿@model Bm2sBO.Areas.Articles.Models.ArticlesModel

@using Bm2sBO.Utils;

@{
  ViewBag.Title = "Articles";
}

<div class="content" data-ng-controller="Article">
  <datatable />
</div>

<script type="text/javascript">
  var columnsHeader = [];
  //columnsHeader.push({"Key": 'Id', "Value": "@Html.TranslationFor("listarticles", "id", "Id")", "Editable": false, "Type": '', "Required": false});
  columnsHeader.push({"Key": 'Code', "Value": "@Html.TranslationFor("listarticles", "code", "Code")", "Editable": true, "Type": '', "Required": false});
  columnsHeader.push({"Key": 'Designation', "Value": "@Html.TranslationFor("listarticles", "designation", "Designation")", "Editable": true, "Type": '', "Required": false});
  columnsHeader.push({"Key": 'StartingDate', "Value": "@Html.TranslationFor("listarticles", "date", "Date")", "Editable": false, "Type": 'Date', "Required": false});
  columnsHeader.push({"Key": 'ArticleFamily.Designation', "Value": "@Html.TranslationFor("listarticles", "family", "Family")", "Editable": true, "Type": 'ArticleFamily', "Required": false});
  columnsHeader.push({"Key": 'ArticleSubFamily.Designation', "Value": "@Html.TranslationFor("listarticles", "subfamily", "Sub family")", "Editable": true, "Type": 'ArticleSubFamily', "Required": false});
  columnsHeader.push({"Key": 'Brand.Name', "Value": "@Html.TranslationFor("listarticles", "brand", "Brand")", "Editable": true, "Type": 'Brand', "Required": false});
  columnsHeader.push({"Key": 'Unit.Name', "Value": "@Html.TranslationFor("listarticles", "unit", "Unit")", "Editable": true, "Type": 'Unit', "Required": false});

  var title = '@Html.TranslationFor("listarticles", "title", "Translations")';
  var showText = '@Html.TranslationFor("list", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("list", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("list", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("list", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("list", "totext", "to")';
  var ofText = '@Html.TranslationFor("list", "oftext", "of")';

  var canCreate = @UserUtils.CanCreateArticles.ToString().ToLower();
  var canDelete = @UserUtils.CanDeleteArticles.ToString().ToLower();
  var canEdit = @UserUtils.CanEditArticles.ToString().ToLower();

</script>