@model Bm2sBO.Areas.Articles.Models.ArticlesModel
@using Bm2sBO.Utils;
@{
  ViewBag.Title = @Html.TranslationFor("listarticles", "title", "Articles");
}

<div data-ng-controller="Article">
  <section class="content">
    <datatable />
  </section>
  <div id="modalEditionArticle" class="modal fade" tabindex="-1" role="dialog">
    <form data-ng-submit="saveValues(Edition)">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-ng-click="dismissValues()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{Title}}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "code", "Code")</label>
                <div class="col-xs-9">
                  <input name="editionCode" type="text" class="form-control" data-ng-model="Edition.Code" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "designation", "Designation")</label>
                <div class="col-xs-9">
                  <input name="editionDesignation" type="text" class="form-control" data-ng-model="Edition.Designation" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "date", "Date")</label>
                <div class="col-xs-9">
                  <input name="editionDate" type="date" class="form-control datepicker" data-ng-model="Edition.StartingDate" data-ng-required="true" tabindex="0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "family", "Family")</label>
                <div class="col-xs-9">
                  <select name="editionFamily" type="text" class="form-control" data-ng-model="Edition.ArticleFamily.Id" tabindex="0" data-ng-options="item.Id as item.Label for item in SelectListFamilies.ArticleFamilies"></select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "subfamily", "Sub family")</label>
                <div class="col-xs-9">
                  <select name="editionSubFamily" type="text" class="form-control" data-ng-model="Edition.ArticleSubFamily.Id" data-ng-required="true" tabindex="0" data-ng-options="item.Id as item.Label for item in findSubFamilies()"></select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "brand", "Brand")</label>
                <div class="col-xs-9">
                  <select name="editionBrand" type="text" class="form-control" data-ng-model="Edition.Brand.Id" data-ng-required="true" tabindex="0" data-ng-options="item.Id as item.Label for item in SelectListBrands.Brands"></select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 control-label text-right">@Html.TranslationFor("listarticles", "unit", "Unit")</label>
                <div class="col-xs-9">
                  <select name="editionUnit" type="text" class="form-control" data-ng-model="Edition.Unit.Id" data-ng-required="true" tabindex="0" data-ng-options="item.Id as item.Label for item in SelectListUnits.Units"></select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="form-group pull-right">
              <div class="input-group">
                <button class="btn btn-default" data-ng-click="saveValues(Edition)" data-dismiss="modal" tabindex="0">
                  <i class="fa fa-check"></i>
                </button>
              </div>
            </div>
            <div class="form-group pull-left">
              <button class="btn btn-default" data-ng-click="dismissValues()" data-dismiss="modal" tabindex="0">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  var dataSource = @Model.Article.Response.ToHtmlJson();

  var selectListBrands = @SelectListUtils.SelectListBrand;
  var selectListFamilies = @SelectListUtils.SelectListFamily;
  var selectListSubFamilies = @SelectListUtils.SelectListSubFamily;
  var selectListUnits = @SelectListUtils.SelectListUnit;

  var columnsHeader = [];
  columnsHeader.push({"Key": 'Code', "Value": "@Html.TranslationFor("listarticles", "code", "Code")", "Type" : "Text"});
  columnsHeader.push({"Key": 'Designation', "Value": "@Html.TranslationFor("listarticles", "designation", "Designation")", "Type" : "Text"});
  columnsHeader.push({"Key": 'StartingDate', "Value": "@Html.TranslationFor("listarticles", "date", "Date")", "Type" : "Date"});
  columnsHeader.push({"Key": 'ArticleFamily.Designation', "Value": "@Html.TranslationFor("listarticles", "family", "Family")", "Type" : "Text"});
  columnsHeader.push({"Key": 'ArticleSubFamily.Designation', "Value": "@Html.TranslationFor("listarticles", "subfamily", "Sub family")", "Type" : "Text"});
  columnsHeader.push({"Key": 'Brand.Name', "Value": "@Html.TranslationFor("listarticles", "brand", "Brand")", "Type" : "Text"});
  columnsHeader.push({"Key": 'Unit.Name', "Value": "@Html.TranslationFor("listarticles", "unit", "Unit")", "Type" : "Text"});

  var titleArticle = '@ViewBag.Title';
  var showText = '@Html.TranslationFor("list", "showtext", "Show")';
  var entriesText = '@Html.TranslationFor("list", "entriestext", "entries")';
  var searchText = '@Html.TranslationFor("list", "searchtext", "Search")';
  var showingText = '@Html.TranslationFor("list", "showingtext", "Showing")';
  var toText = '@Html.TranslationFor("list", "totext", "to")';
  var ofText = '@Html.TranslationFor("list", "oftext", "of")';

  var canCreate = @UserUtils.CanCreateArticles.ToString().ToLower();
  var canDelete = @UserUtils.CanDeleteArticles.ToString().ToLower();
  var canEdit = @UserUtils.CanEditArticles.ToString().ToLower();
</script>
